.menu {
    display: inline-block;
    border: 1px solid black;
}

.content {
    display: inline-block;
    border: 1px solid black;
}

.chatwindow {
    border: 1px dotted red;
    background-color: rgba(128, 128, 128, .4);
    height: 40vh;
    margin-bottom: 3px;
}

.chatcontrols {
    margin-bottom: 3px;
}

#message {
    display:inline;
    width: 50%;
    margin-right: 1%;
}
