.menu {
    display: inline-block;
    border: 1px solid black;
}

.content {
    display: inline-block;
    border: 1px solid black;
}

.chatwindow {
    border: 1px dotted red;
    background-color: rgba(128, 128, 128, .4);
}
